header.masthead {
  background: url(../img/bg-pattern.png),linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.device-mockup.kingfishopen.portrait.white>.device, .device-mockup.kingfishopen.white>.device {
    background-image: url(../img-custom/LOGO_TORNEO_PESCA.png);
}
.header-content > .invitation{
    background-image: url(../img-custom/LOGO_TORNEO_PESCA.png);
}
@media (min-width: 992px){
  header.masthead .device-container {
      max-width: initial;
  }
}
.container {
    max-width: 100%;
}
.text-fishing-green{
    color: #023a37;
}
.bg-fishing-green{
    background-color: #023a37;
}
.bg-button-green{
    border-color:  #fff;
    background-image: linear-gradient(to right, #023a37, #024743, #02544f, #02615c, #026f69);
    border-width: 3px;
}
a.bg-button-green:hover{
    border-color:  #fff;
    border-width: 2px;
    background-image: linear-gradient(to right, #023a37, #023a37, #023a37, #023a37, #023a37);
}
.text-fishing-blue{
    color: #000a63;
}
.bg-fishing-blue{
    background-color: #000a63;
}
.bg-button-blue{
    border-color:  #fff;
    background-image: linear-gradient(to right, #000a63, #000e7d, #001298, #0116b4, #061ad1);
    border-width: 3px;
}
a.bg-button-blue:hover{
    border-color:  #fff;
    border-width: 2px;
    background-image: linear-gradient(to right, #000a63, #000a63, #000a63, #000a63, #000a63);
}
#mainNav .navbar-brand{
    color: #023a37;
    font-weight: bold;
}

@media (max-width: 991px){
    header.masthead {
        padding-top: 85px;
    }
}
section.contact{
  background-color: rgba(0,0,0,.5);
  opacity: .9;
}
section.cta {
    background-image: none;
    padding: 118px 0;
}
